*{text-decoration: none;}

.footercontainer {
	
	display: center;
	background-color: lightblue;

}

.button {

	background-color: lightblue;
	font-size: 14px;
	font-family: oswald;
}

.logo {
	float: left;
}

.social {

	display: inline-block;
	
}


.content {

	display: flex;
	align-items: center;
	font-family: oswald;
}